.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
header .navbar{
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
header .navbar-brand{
  padding-left: 70px;
}
header .navbar-brand .App-logo{
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 15px;
}
header .navbar-nav a{
  color: #fafafa;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
header .navbar-nav a:hover,
header .navbar-nav a:focus{
  text-decoration: none;
  outline: none;
}
header .navbar-nav>li>a:hover{
  background-color: #333333 !important;
}

.user .panel-footer{
  display: flex;
  justify-content: space-between;
}
.user .panel-heading{
  text-align: left;
}
.user .panel-heading .user-img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.user .following{
  cursor: pointer;
}

.post .panel-heading,
.post .panel-footer{
  display: flex;
  justify-content: space-between;
}
.post .panel-heading{
  align-items: center;
}
.post .new-post .btn{
  margin-top: 20px;
}
.post .panel-heading .author{
  display: flex;
  align-items: center;
}
.post .panel-heading .author img{
  width: 40px;
  height: 40px;
}
.post .panel-heading .author .name{
  font-size: 18px;
}
.post .panel-heading .post-date{
  font-size: 12px;
}
.post .panel-footer{
  flex-wrap: wrap;
}
.post .panel-footer .glyphicon{
  margin-right: 7px;
}
.post .panel-footer .new-message-container{
  text-align: center;
}
.post .comments-section{
  width: 100%;
}
.post .comments-container{
  text-align: left;
}
.post .comment{
  margin-bottom: 10px;
}
.post .comment .head,
.post .comment .author{
  display: flex;
  align-items: center;
}
.post .comment .head{
  justify-content: space-between;
}
.post .comment .date{
  font-size: 12px;
}
.post .comment .author img{
  width: 30px;
  height: 30px;
}

.user-register-container .form-horizontal{
  text-align: left;
}
.user-register-container .form-horizontal .control-label{
  margin-left: 10px;
}
.user-register-container .form-horizontal .error{
  color: #a94442;
}

@media screen and (max-width: 767px) {
  .user-register-container .form-group{
    margin-left: 0;
    margin-right: 0;
  }
}

.users h2 + .btn {
  margin-top: 20px;
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
