body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  padding: 30px 0;
}
.pointer{
  cursor: pointer;
}
.pointer .glyphicon {
  color: #5bc0de;
}

.pointer:hover .glyphicon{
  color: #31b0d5;
}
.new-message-container textarea{
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
